body {
    background-image: url("https://cdn.pixabay.com/photo/2016/03/23/12/53/clock-1274699_960_720.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* color: white;
    font-family: "Montserrat"; */
}

* {
    color: #AC935D;    
    font-family: "Montserrat";    
}

h2 {
    display: inline;
}

#start {
    margin: 10px;
}